<link rel="stylesheet" href="~/css/cidades.css"/>

<h1 style="color: black"><strong>Santo Ângelo</strong></h1>
<p>H1 - Em negrito</p>
<h2 style="color: darkorange">Santo Ângelo</h2>
<p>H2</p>
<h3 style="color: dimgrey">Santo Ângelo</h3>
<p>H3</p>
<h4 style="color: black">Santo Ângelo</h4>
<p>H4</p>
<h5 style="color: forestgreen">Santo Ângelo</h5>
<p>H5</p>
<h6 style="color: red">Santo Ângelo</h6>
<p>H6</p>
