<h1>Calculadora</h1>
<hr/>

<div class="main-class">

    <div class="form-group">
        <label>Valor 1</label>
        <input type="number" id="valor1" placeholder="Valor 1">
        <label>Valor 2</label>
        <input type="number" id="valor2" placeholder="Valor 2"/>
    </div>

    <div>
        <button onclick="soma()" class="btn-calc">+</button>
        <button onclick="subtrai()" class="btn-calc">-</button>
        <button onclick="multiplica()" class="btn-calc">*</button>
        <button onclick="divide()" class="btn-calc">/</button>
    </div>

    <div class="form-group">
        <label>Total</label>
        <input type="number" id="total" placeholder="Total"/>
    </div>
</div>